@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: hsl(195, 12%, 94%);
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #24252a;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    color: #24252a;
    font-size: 30px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin-right: auto;
    display: flex;
}
.nav_menu .list {
    list-style: none;
}
.nav_menu li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_menu li a {
    transition: all 0.3s ease 0s;
}
.nav_menu li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all;
}
button:hover {
    background-color: rgba(0, 13);
}
.profile {
    display: flex;
    justify-content: center;
    padding: 0 200px;
    color: rgba(0, 136, 169, 1);
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
}
